@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 400;
  src: url('../fonts/play-v19-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 700;
  src: url('../fonts/play-v19-cyrillic_latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 500;
  src: url('../fonts/roboto-v30-cyrillic_latin-500.woff2') format('woff2');
}

:root {
  /* My colors */
  --primary-color-white: #ffffff;
  --primary-color-blue: #2b7fff;
  --primary-color-dark: #011c44;
  --secondary-color-yelow: #ffd02b;
  --secondary-color-blue: #011f4a;
  --secondary-color-gray-light: #747272;
  --secondary-color-gray-dark: #4a4a4a;
}

body {
  color: var(--primary-color-dark);
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #ffffff;
  width: 1440px;
  height: 3694px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.styles-links {
  color: var(--primary-color-dark);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}

.styles-links:hover {
  color: var(--primary-color-blue);
}

/* Header */
/* Nav header  - розібратися з кольором посилання*/

h5 {
  color: var(--primary-color-dark);
  font-size: 18px;
}

h1 {
  color: var(--primary-color-blue);
  font-family: 'Play', sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.81;
  text-transform: capitalize;
}

.button-call-back,
.button-in-list {
  font-family: 'Roboto';
  background-color: var(--primary-color-blue);
  color: var(--primary-color-white);
  border-radius: 32px;
  border: 2px solid var(--primary-color-blue);
  font-size: 18px;
  font-weight: 600;
  padding: 16px 32px;
  display: flex;
  margin-left: 244;
  margin-top: 40px;
  gap: 10px;
  align-items: flex-start;
  cursor: pointer;
}

.button-call-back:hover {
  color: var(--primary-color-dark);
  background-color: transparent;
}

.order-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

/* Section 1 */
h2 {
  color: var(--primary-color-dark);
  font-family: Play;
  font-size: 64px;
  font-weight: 700;
  /* width: 529px;
  height: 148px;
  margin-left: 100; */
}

.style-h2 {
  color: var(--primary-color-blue);
  text-transform: capitalize;
}
.section1-text1 {
  line-height: 1.73;
  margin-left: 100;
  width: 709px;
}

.section1-text2 {
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 1.73;
}

.accent {
  color: var(--primary-color-dark);
  font-weight: 600;
  line-height: 1.73;
  text-transform: capitalize;
}

/* Section2 */

.section2-title {
  text-align: center;
  width: 432px;
  height: 148px;
  margin-top: 375px;
  margin-bottom: 48px;
  margin-left: 504px;
  margin-right: 504px;
}

.section2-style-h2 {
  color: var(--primary-color-blue);
}

.section2-blocks {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  flex-direction: row;
  display: flex;
}

.advantages-left,
.advantages-center,
.advantages-right {
  border-radius: 32px;
  background: var(--primary-color-white);
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
  width: 316px;
  height: 181px;
  display: flex;
  padding: 24px 32px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.advantages-left {
  margin-left: 190px;
  margin-right: 56px;
}

.advantages-center {
  margin-right: 56px;
}

.advantages-right {
  margin-right: 190px;
}

.icone-advantages {
  margin-top: 24px;
  margin-bottom: 8px;
}

.section2-text {
  text-align: center;
  width: 252px;
}

/* Section 3 */

.section3-title {
  text-align: center;
  width: 510px;
  height: 74px;
  margin-left: 465px;
  margin-top: 96px;
  margin-bottom: 48px;
}

.section3-style-h2 {
  color: var(--primary-color-blue);
}

.arrow {
  border-style: none;
  border-color: var(--primary-color-white);
  color: var(--primary-color-white);
  background-color: var(--primary-color-white);
  cursor: pointer;
}

.arrow:hover {
}

.procedure-left {
  margin-left: 188px;
}

.procedure-center {
  margin-left: 16px;
}
.procedure-left {
  margin-right: 16px;
}
.dots {
  flex-direction: row;
  margin-left: 700px;
  margin-top: 32px;
}

.our-pocedure-text {
  line-height: 1.18;
  color: var(--primary-color-white);
}

/* Section 4 adress */
.section4-title {
  /* color: var(--primary-color-white); */
  text-align: center;
  margin-left: 465px;
  margin-top: 96px;
  margin-bottom: 48px;

  width: 432px;
  height: 75px;
  /* flex-direction: column;
  justify-content: center; */
}

.section4-style-h2 {
  color: var(--primary-color-blue);
  /* transform: none; */
}

.section4-accent {
  color: var(--primary-color-blue);
  /* transform: none; */
}

adress {
  flex-direction: row;
}

h4 {
  font-weight: 600;
}

.accept-conditions {
  color: var(--secondary-color-gray-light);
  font-size: 12px;
}

.underline-politiks-url {
  text-decoration: underline;
}

/* Footer */

/* footer {
  color: var(--primary-color-white);
} */

.styles-links-footer {
  color: var(--primary-color-white);
}
.text-footer {
  font-size: 16px;
  color: var(--primary-color-white);
}

.text-property {
  font-size: 13px;
  color: var(--secondary-color-gray-light);
}
